/* border-radius: 25px !important; */
/* Table{
    border-radius: 15px !important;
    border-style: solid !important;
    border-width: 1px !important;
  } */

.table-bordered {
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}

.giveHt{
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: scroll;
}

  *{
    /* background-color: #282c34; */
  }