.mdiv{
    background-color: black;
    width: 100%;
    height: calc(100vh - 104px);
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
}

.ldivs{
    width: 100%;
}

.rdivs{
    width: 100%;
}

/* @media screen(max-width: 768px) {
    .ldivs, .rdivs{
        width: 100%;
    }
} */

