.rdiv{
    /* width: calc(50% - 15px); */
    width: calc(100% - 15px);
    height:100%;
    margin-left: 15px;
    background-color: transparent;
}
.rtopnav{
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    /* justify-content: space-around; */
}
.rbottomnav{
    /* display: flex;
    justify-content: space-between; */
    margin-top: 10px;
    margin-bottom: 0px;
}
.rtn{
    width: 20%;
    height: 36px;
    /* margin: 5px; */
}
.rtn1,.rtn2,.rtn3{
    width: fit-content;
}
.rbn3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rtn2{
    padding: 5px  15px;
    /* margin: 5px; */
}
.rbnRun{
    width: fit-content;
    /* width: 100%; */
    /* max-width: 110px; */
    margin: 0px;
    height: 66px;
    /* margin: 5px; */
}

.rbn{
    width: fit-content;
    /* width: 100%; */
    /* max-width: 110px; */
    margin: 0px;
    height: 42px;
    /* margin: 5px; */
}

.rbn:hover, .rbnRun:hover{
    background-color: rgb(27, 56, 94)
}
#lang {
    height: 100%;
    width: 90px;
    min-width: fit-content;
    padding: 0px 5px;
}

#theme{
    height: 100%;
    min-width: fit-content;
    padding: 0px 5px;
}
#inpfff{
    display: none;
}
.ediv{
    height: calc(100% - 96px);
}
.ace_editor, .ace_editor *{
    /* font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important; */
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    
    }
.bg-bl{
    background-color: black;
}

.QuestionBox{
    border: 2px solid #394d65; 
    border-radius: 5px;
    height: calc(60% - 58px);
    margin-bottom: 15px;
    /* overflow-x: scroll; */
    overflow-x: hidden;
    /* justify-content: center; */
}
.myQuestionCard{
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
    color: white !important;
}
/* .ace_editor{
    background-color: black;
} */

.givePaginationTheme{
    background-color: transparent;
    margin-left: 7px;
    margin-right: 7px;
}

.myCustomInputCard{
    border: 2px solid #394d65; 
    border-radius: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
    width: calc(100%);
    height: calc(40% - 28px);
    /* margin-right: 60px; */
    text-align: center;
}


.inputBox{
    text-align: center;
    border: 1px solid white; 
    color:white;  
}
.inputBoxTitle{
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
}

.outputBox{
    text-align: center;
    border: 1px solid white;
    color:white;
}

.outputBoxTitle, .clipboardCopy, .clipboardCopy2 {
    background-image: linear-gradient(to top right, #152238 0%, #152238 100%);
    color: white;
    width: 100%;
}